@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 2, 7, 21;
  --foreground: 255, 255, 255;
  --primary: 225, 69, 148;
  --secondary: 43, 53, 149;
  --tertiary: 112, 69, 175;
}

[data-theme="light"] {
  --background: 255, 255, 255;
  --foreground: 2, 7, 21;
  --primary: 225, 69, 148;
  --secondary: 43, 53, 149;
  --tertiary: 112, 69, 175;
}

body {
  color: rgba(var(--foreground), 1);
  background: rgba(var(--background), 1);
  font-family: var(--font-raleway), sans-serif;

  transition: color ease;
}

.mask-image {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(var(--background), 1) 70%,
    rgba(var(--background), 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(var(--background), 1) 70%,
    rgba(var(--background), 0) 100%
  );
}

.wrapper-mask {
  mask-image: linear-gradient(
    to right,
    rgba(var(--background), 0),
    rgba(var(--background), 1) 10%,
    rgba(var(--background), 1) 90%,
    rgba(var(--background), 0)
  );
}

.hover-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.1px solid rgba(var(--foreground), 1);
  opacity: 0;
  border-radius: 99999px;

  transition: all 0.3s ease;
}

.hover-btn:hover::after {
  transform: scaleX(1.05) scaleY(1.15);
  opacity: 1;
}

.gradient-bg-mask {
  mask-image: linear-gradient(
    to top,
    rgba(var(--background), 0),
    rgba(var(--background), 1) 30%,
    rgba(var(--background), 1) 70%,
    rgba(var(--background), 0)
  );
}

.community-bg-mask {
  mask-image: linear-gradient(
    to bottom,
    rgba(var(--background), 1) 70%,
    rgba(var(--background), 0)
  );
}

[data-theme="light"] .community-bg-mask {
  mask-image: linear-gradient(
    to bottom,
    rgba(var(--background), 1) 90%,
    rgba(var(--background), 0)
  );
}
